footer {
    margin:32px 0;
    padding: 0 24px;

            
    a, span {
        color:rgba(255,255,255,0.7);
        font-weight: 300;
    }

    .phoneInformation-div {
        margin-bottom:1rem;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 11px 12px;
        margin-bottom: 1.5rem;

        a {
            font-size: 14px;
            font-weight: 300;
            &:focus {color: rgb(229,9,20)}
        }
    }
}

@media screen and (min-width:600px) {
    footer {
        padding: 0 32px;
    }
}