#header-section {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    z-index: 1;

    header {
        display: flex;
        padding: 24px;
        justify-content: space-between;
        align-items: center;
        
        img {
            // width: 89px;
            height: 1.5rem;
        }

        .buttonGroup-div {
            display: flex;
            gap:0.5rem;

            // .languageSelector-div {width: 64px;}
        }

        button {
            padding: 0.25rem 1rem;
            font-weight: 500;
        }
    }

    @media screen and (max-width:599px) {
        .languageSelector-div {
            width: 64px;
            .form-select {
                padding: 6px 27px 6px 35px;
            }
        }
    }
    
    @media screen and (min-width:600px) {
        header {padding:24px 32px}
    }
    
    @media screen and (min-width: 960px) {
        header {
            img {
                height: 40px;
                width: auto;
            }
            .buttonGroup-div {
                gap: 1.5rem;
            }
        }
    }
    
    @media screen and (min-width: 1280px) {
        header {
            max-width: calc(83.3% - 6rem); //calc(83.3% - 6rem); //calc(90% - 6rem);
            margin: auto;
            padding: 24px 48px;
        }
    }
}
