#header-section {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    z-index: 1;

    header {
        display: flex;
        padding: 24px;
        justify-content: space-between;
        align-items: center;
        
        > img {
            width: 89px;
            height: 1.5rem;
        }

        .buttonGroup-div {
            display: flex;
            gap:0.5rem;

            .languageSelector-div {
                width: 64px;
            }
        }

        button {
            padding: 0.25rem 1rem;
            font-weight: 500;
        }
    }
}