#landing-section {
    header {
        display: flex;
        padding: 24px;
        justify-content: space-between;
        
        img {width: 89px;}
        div {
            display: flex;
        }
    }

    main {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}