#loginPage-div {
    a {
        text-decoration: none;
        &:hover {text-decoration: underline;}
    }

    header {
        padding-top: 20px;

        img {
            height:20px;
            margin-bottom: 5px;
            margin-left: 3%;
            line-height: 75px;
        }
    }

    #login-section {        
        .loginWrapper-div {
            display: flex;
            flex-direction: column;
            min-height: 550px;
            padding: 20px 5% 30px 5%;

            form {
                flex-grow: 1;

                .inputWrapper{
                    position: relative;

                    &::after {
                        color: rgba(255, 255, 255, 0.7);
                        position: absolute;
                        font-size: 1rem;
                        color:#8c8c8c;
                        line-height: 1.5;
                        top: 0.75rem;
                        left: 1rem;
                        right: 1rem;
                        transition-duration: 250ms;
                    }

                    &:nth-of-type(1)::after {
                        content:"Email address (Disabled)";                        
                    }
                    &:nth-of-type(2)::after {
                        content:"Password (Disabled)";                        
                    }

                    &:focus-within::after {
                        top:0.25rem;
                        font-size: 0.75rem;
                    }

                    input {
                        height: 50px;
                        border: none;
                        background-color: #333;    
                    }
                } 

                #loginRememberMe-div {
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    margin-top: 12px;
                    font-size: 13px;
                    color: #b3b3b3;
                    
                    div {
                        display: flex;
                        label {margin-left:15px;}
                        input {
                            margin:0 -10px 0 0 !important;
                            padding:0 !important;
                            width: 18px;
                            height:18px;
                            flex: 0 0 18px;
                            
                            &::before {
                                background: #737373;
                            }
                        }
                    }
        
                    p,a {color: #b3b3b3;}        
                }    
            }     

            p:nth-of-type(1) {
                font-size: 16px;
                color: #737373;
                a {color:white;}
            }

            p:nth-of-type(2) {
                margin: 13px 0 83.25px 0; //Bottom to make up for Google stuff
                color: #737373;
                font-size: 13px;

                a, a:hover, a:visited {color: #0d6efd;}
            }
        }
        
        p, span, h1 {text-align: left;}

        h1 {
            text-align: left;
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 28px;
        }

        input {
            padding: 1rem 20px 0px 20px;
            margin-bottom: 1rem;
        }

        button {
            width: 100%;
            font-size: 16px;
            padding: 13px;
            margin-top: 24px;
        }

        border-bottom: 1px solid #737373;
    }

    footer {
        margin: auto auto 0 auto !important;
        padding: 30px calc(30px + 5%) 30px calc(30px + 5%);

        span, a {color: #737373;}
        a {font-size: 13px;}
    }

    @media screen and (min-width:441px) {
        header {
            line-height: 75px;
            padding:0;

            img {
                margin-bottom: 0;
                height:45px;
                padding-top:0px;
            }
        }
    }

    @media screen and (min-width:501px) {
        ul {grid-template-columns: 1fr 1fr 1fr;}

    }
}
@media screen and (min-width:741px) {
    #loginPage-div {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../assets/images/US-en-20231016-popsignuptwoweeks-perspective_alpha_website_large.jpg");
        background-size: cover;

        header {line-height: 90px;}
        
        #login-section {
            min-height: calc(100vh - 170px);
            // margin-bottom: -200px;
            border: none;

            .loginWrapper-div {
                background: rgba(0,0,0,.75);
                padding: 60px 68px 40px 68px;
                max-width: 450px;
                margin: 0 auto 90px auto; //90px bottom

                form {
                    margin-bottom: 50px;
                }
            }
        }

        #footerWrapper-div {
            background: rgba(0,0,0,.75);
            footer {
                width: 90%;
                max-width: 1000px;
                margin: auto;
                padding:30px 0;
                ul {grid-template-columns: 1fr 1fr 1fr 1fr;}
            }
        }
    }
}