@import 'bootstrap/dist/css/bootstrap.css';
body {
  background-color: black;
}

* {
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

h1, h3, p, span {
  color: white;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  line-height: 1.25;
}

h3 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
}

p {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 16px 0 0 0;
  line-height: 1.25;
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
  }
  p {
    font-size: 24px;
  }
}
.btn {
  position: relative;
  border: 0 !important;
  --bs-btn-border-radius: 0.1875rem !important;
  background-color: rgb(229, 9, 20);
}
.btn:hover, .btn:active {
  background-color: rgb(193, 17, 25) !important;
}
.btn:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.accordion {
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  --bs-accordion-transition: all 0.25s ease-in-out cubic-bezier(0.5, 0, 0.1, 1) 0s !important;
}
.accordion .accordion-button {
  background-color: rgb(45, 45, 45);
  border-radius: 0 !important;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  padding: 24px;
  box-shadow: none;
}
.accordion .accordion-button::after {
  background-image: url("../assets/images/plusIcon.svg");
  background-size: 24px;
  width: 24px;
  height: 24px;
  transition: none;
  filter: invert(1); /* This will make the SVG white */
}
.accordion .accordion-button:hover, .accordion .accordion-button:active {
  background-color: rgb(64, 64, 64);
}
.accordion .accordion-button:not(.collapsed)::after {
  rotate: -45deg;
}
@media screen and (min-width: 960px) {
  .accordion .accordion-button {
    font-size: 24px;
  }
  .accordion .accordion-button::after {
    background-size: 36px;
    width: 36px;
    height: 36px;
  }
}
.accordion .accordion-body {
  background-color: rgb(45, 45, 45);
  border-top: 1px solid black;
  padding: 24px;
}
.accordion .accordion-body p {
  text-align: left;
  font-weight: 300;
  line-height: 1.25;
}
.accordion .accordion-body p:first-child {
  margin-top: 0;
}
.accordion .accordion-body p:not(:first-child) {
  margin-top: 1.5rem;
}
@media screen and (min-width: 960px) {
  .accordion .accordion-body p:not(:first-child) {
    margin-top: 2rem;
  }
}

.inputWrapper {
  position: relative;
}
.inputWrapper:focus-within:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid white !important;
  border-radius: 0.5rem !important;
}

input, select {
  position: relative;
  border-color: rgba(128, 128, 128, 0.7) !important;
  box-shadow: none !important;
  transition: none !important;
}

.separator-div {
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  height: 0.5rem;
  background-color: rgb(35, 35, 35);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: Netflix Sans;
  font-weight: 100;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format("woff");
}
@font-face {
  font-family: Netflix Sans;
  font-weight: 300;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format("woff");
}
@font-face {
  font-family: Netflix Sans;
  font-weight: 400;
  src: url(../assets/fonts/NetflixSans_W_Rg.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format("woff");
}
@font-face {
  font-family: Netflix Sans;
  font-weight: 500;
  src: url(../assets/fonts/NetflixSans_W_Md.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format("woff");
}
@font-face {
  font-family: Netflix Sans;
  font-weight: 700;
  src: url(../assets/fonts/NetflixSans_W_Bd.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format("woff");
}
@font-face {
  font-family: Netflix Sans;
  font-weight: 900;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format("woff2"), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format("woff");
}
.languageSelector-div {
  position: relative;
  background-color: rgba(22, 22, 22, 0.7);
  background-image: url("../assets/images/languageIcon.svg");
  background-repeat: no-repeat;
  background-position: top 7.5px left 13px;
  width: -moz-fit-content;
  width: fit-content;
}
.languageSelector-div .form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='white' color='white' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-position-y: 11px;
  background-color: rgba(22, 22, 22, 0);
  height: 32px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 5px 35px 5px 36px;
  font-weight: 400;
  font-size: 16px;
  color: white !important;
  line-height: 1.25;
  z-index: 1;
}

.emailSignUp-div {
  padding: 0 24px;
}
.emailSignUp-div h3 {
  margin-bottom: 1rem;
}
.emailSignUp-div form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 586px;
  margin: auto;
}
.emailSignUp-div form .inputWrapper {
  background-color: rgba(22, 22, 22, 0.7) !important;
}
.emailSignUp-div form .inputWrapper::after {
  content: "Email address (Disabled)";
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  line-height: 1.5;
  top: 0.75rem;
  left: 1rem;
  right: 1rem;
  transition-duration: 250ms;
}
.emailSignUp-div form .inputWrapper:focus-within::after {
  top: 0.25rem;
  font-size: 0.75rem;
}
.emailSignUp-div form .inputWrapper input {
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  padding: 18px 16px 4px 16px;
}
.emailSignUp-div form a {
  text-decoration: none;
  display: flex;
}
.emailSignUp-div form a button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  line-height: 1.8;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 599px) {
  .emailSignUp-div form button {
    margin: auto;
  }
}
@media screen and (min-width: 600px) {
  .emailSignUp-div {
    padding: 0 32px;
  }
  .emailSignUp-div form {
    display: grid;
    grid-template-columns: 1fr 209px;
    grid-template-rows: 56px;
    justify-content: space-between;
    gap: 8px;
  }
  .emailSignUp-div form .inputWrapper input {
    padding: 22px 16px 8px 16px;
  }
  .emailSignUp-div form .inputWrapper::after {
    top: 1rem;
  }
  .emailSignUp-div form .inputWrapper:focus-within::after {
    top: 0.5rem;
  }
  .emailSignUp-div form a button {
    padding: 12px 24px;
    font-size: 1.5rem;
    line-height: 1;
    gap: 0;
  }
}
#header-section {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#header-section header {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}
#header-section header img {
  height: 1.5rem;
}
#header-section header .buttonGroup-div {
  display: flex;
  gap: 0.5rem;
}
#header-section header button {
  padding: 0.25rem 1rem;
  font-weight: 500;
}
@media screen and (max-width: 599px) {
  #header-section .languageSelector-div {
    width: 64px;
  }
  #header-section .languageSelector-div .form-select {
    padding: 6px 27px 6px 35px;
  }
}
@media screen and (min-width: 600px) {
  #header-section header {
    padding: 24px 32px;
  }
}
@media screen and (min-width: 960px) {
  #header-section header img {
    height: 40px;
    width: auto;
  }
  #header-section header .buttonGroup-div {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #header-section header {
    max-width: calc(83.3% - 6rem);
    margin: auto;
    padding: 24px 48px;
  }
}

#landing-section {
  position: relative;
  padding: 7.5rem 0 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#landing-section #landingBackground-div {
  background-image: url("../assets/images/US-en-20231016-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
#landing-section #landingBackground-div .backgroundGradient-div {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.85) 90%);
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#landing-section main {
  margin: 0 24px;
}
#landing-section main .emailSignUp-div {
  margin-top: 24px;
}

@media screen and (min-width: 600px) {
  #landing-section {
    padding: 8.5rem 0 3rem;
    min-height: 32rem;
  }
  #landing-section #landingBackground-div {
    background-image: url("../assets/images/US-en-20231016-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    transform: scale(1.25) translateY(-10%);
    background-position: center;
  }
  #landing-section #landingBackground-div .backgroundGradient-div {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.85) 80%);
  }
  #landing-section main {
    max-width: calc(100% - 4rem);
  }
}
@media screen and (min-width: 960px) {
  #landing-section {
    padding: 9.875rem 0 4rem;
    min-height: 43.75rem;
  }
  #landing-section #landingBackground-div {
    background-image: url("../assets/images/US-en-20231016-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  }
}
#adBanner-section #adBanner-div {
  background: radial-gradient(120.35% 220% at 49.86% -6.29%, #e50914 0%, #0e1b4f 46.15%, #0d1121 100%);
  box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
  padding: 32px 30px 30px;
  margin: 16px 24px 0 24px;
  position: relative;
}
#adBanner-section #adBanner-div #adPopcorn-img {
  position: absolute;
  width: 76.8px;
  top: -2.5rem;
  left: 2.7rem;
}
#adBanner-section #adBanner-div #adContentWrapper-div p {
  text-align: start;
  line-height: 1.5;
}
#adBanner-section #adBanner-div #adContentWrapper-div p:first-of-type {
  font-size: 20px;
  font-weight: 500;
  margin-top: 18px;
}
#adBanner-section #adBanner-div #adContentWrapper-div p:nth-of-type(2) {
  font-size: 16px;
  margin: 4px 0 8px 0;
}
#adBanner-section #adBanner-div #adContentWrapper-div a {
  color: #448ef4;
  font-weight: 500;
}
#adBanner-section #adBanner-div #adContentWrapper-div a svg {
  margin-top: -4px;
  margin-left: 8px;
  color: #448ef4 !important;
}

@media screen and (min-width: 599px) {
  #adBanner-section #adBanner-div {
    margin-top: 0;
  }
}
@media screen and (min-width: 656px) {
  #adBanner-section #adBanner-div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 22px 22px 26px;
    margin: 0 74px;
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
  }
  #adBanner-section #adBanner-div #adPopcorn-img {
    position: static;
    width: -moz-max-content;
    width: max-content;
    height: -moz-min-content;
    height: min-content;
  }
  #adBanner-section #adBanner-div #adContentWrapper-div p:first-of-type {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  #adBanner-section #adBanner-div #adContentWrapper-div p:nth-of-type(2) {
    font-size: 16px;
    margin: 4px 0 8px 0;
  }
  #adBanner-section #adBanner-div #adContentWrapper-div a {
    color: #448ef4;
    font-weight: 500;
  }
  #adBanner-section #adBanner-div #adContentWrapper-div a img {
    margin-left: 8px;
  }
}
@media screen and (min-width: 960px) {
  #adBanner-section {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
  }
}
#featuresAndQuestions-section #features-div .feature-div {
  position: relative;
  padding: 56px 0;
}
#featuresAndQuestions-section #features-div .feature-div .contentWrap-div {
  margin: 0 24px;
}
#featuresAndQuestions-section #features-div .feature-div .contentWrap-div p {
  margin-bottom: 20px;
}
#featuresAndQuestions-section #features-div .feature-div .contentWrap-div .featureImage-div {
  display: flex;
  justify-content: center;
  margin: auto;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
#featuresAndQuestions-section #features-div .feature-div .contentWrap-div .featureImage-div .videoWrapper-div {
  position: absolute;
  width: 100%;
  height: 100%;
  translate: -50% -50%;
  overflow: hidden;
  z-index: -1;
}
#featuresAndQuestions-section #features-div .feature-div .contentWrap-div .featureImage-div:is(#tvFeatureImage-div) .videoWrapper-div {
  max-width: 73%;
  max-height: 54%;
  top: 47.5%;
  left: 50%;
}
#featuresAndQuestions-section #features-div .feature-div .contentWrap-div .featureImage-div:is(#watchFeatureImage-div) .videoWrapper-div {
  max-width: 63%;
  max-height: 47%;
  top: 34%;
  left: 49.5%;
}
#featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div {
  display: grid;
  grid-template-columns: 48px 2.2fr 48px;
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  position: absolute;
  background-color: black;
  border: 2px solid #495057;
  padding: 0.25rem 0.65rem;
  border-radius: 0.75rem;
  margin: 0 auto;
  min-width: 15rem;
  width: 65%;
  translate: -50%;
  left: 50%;
  bottom: 8%;
  justify-content: center;
  align-items: center;
}
#featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div img {
  max-height: -moz-min-content;
  max-height: min-content;
  height: 48px;
}
#featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div img:nth-of-type(1) {
  margin-bottom: 5px;
}
#featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div > div {
  display: flex;
  flex-direction: column;
}
#featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div > div span:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
#featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div > div span:nth-child(2) {
  font-size: 12px;
  color: #0071eb;
  line-height: 1.2;
}
#featuresAndQuestions-section #questions-div {
  position: relative;
  padding: 56px 0;
}
#featuresAndQuestions-section #questions-div .contentWrap-div {
  margin: 0 24px;
}
#featuresAndQuestions-section #questions-div .contentWrap-div .accordion {
  margin: 1.5rem 0 3rem 0;
}

@media screen and (min-width: 600px) {
  #featuresAndQuestions-section #features-div .feature-div {
    padding: 72px 0;
  }
  #featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div {
    display: grid;
    grid-template-columns: 64px 2.2fr 48px;
    padding: 0.35rem 0.75rem;
    width: 60%;
  }
  #featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div img:nth-of-type(1) {
    height: 64px;
  }
  #featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div > div span:nth-child(1) {
    font-size: 16px;
  }
  #featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div > div span:nth-child(2) {
    font-size: 14px;
  }
  #featuresAndQuestions-section #questions-div {
    position: relative;
    padding: 72px 0;
  }
  #featuresAndQuestions-section #questions-div .contentWrap-div {
    margin: 0 32px;
  }
}
@media screen and (min-width: 960px) {
  #featuresAndQuestions-section #features-div .feature-div .contentWrap-div {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 32px;
  }
  #featuresAndQuestions-section #features-div .feature-div .contentWrap-div .featureTitle-div h1, #featuresAndQuestions-section #features-div .feature-div .contentWrap-div .featureTitle-div p {
    text-align: left;
  }
  #featuresAndQuestions-section #features-div .feature-div .contentWrap-div .featureTitle-div p {
    margin-bottom: 0;
  }
  #featuresAndQuestions-section #features-div .feature-div:nth-child(even) .contentWrap-div .featureTitle-div {
    grid-area: 1/2/span 1/span 1;
  }
  #featuresAndQuestions-section #features-div .feature-div:nth-child(even) .contentWrap-div .featureImage-div {
    grid-area: 1/1/span 1/span 1;
  }
  #featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div {
    padding: 0.5rem 0.75rem;
  }
  #featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div img:nth-of-type(1) {
    height: 72px;
  }
  #featuresAndQuestions-section #questions-div {
    position: relative;
    padding: 72px 0;
  }
  #featuresAndQuestions-section #questions-div .contentWrap-div {
    margin: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  #featuresAndQuestions-section #features-div .feature-div .contentWrap-div,
  #featuresAndQuestions-section #questions-div .contentWrap-div {
    max-width: calc(83.3% - 6rem);
    margin: auto;
  }
  #featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div {
    grid-template-columns: 72px 2.2fr 48px;
    width: 55%;
  }
  #featuresAndQuestions-section #features-div #downloadFeature-div .contentWrap-div .featureImage-div .imageInner-div img:nth-of-type(1) {
    height: 80px;
  }
}
@media screen and (min-width: 1920px) {
  #featuresAndQuestions-section #features-div .feature-div .contentWrap-div,
  #featuresAndQuestions-section #questions-div .contentWrap-div {
    max-width: calc(66.66% - 6rem);
    margin: auto;
  }
}
footer {
  margin: 32px 0;
  padding: 0 24px;
}
footer a, footer span {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
footer .phoneInformation-div {
  margin-bottom: 1rem;
}
footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 12px;
  margin-bottom: 1.5rem;
}
footer ul li {
  line-height: 1.1;
}
footer ul a {
  font-size: 14px;
  font-weight: 300;
}
footer ul a:focus {
  color: rgb(229, 9, 20);
}

@media screen and (min-width: 600px) {
  footer {
    padding: 0 32px;
  }
}
@media screen and (min-width: 960px) {
  footer {
    margin: 72px 0;
  }
  footer ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    max-width: calc(90% - 6rem);
    margin: 72px auto;
    padding: 0 48px;
  }
}
@media screen and (min-width: 1920px) {
  footer {
    max-width: calc(71% - 6rem);
  }
}
#loginPage-div a {
  text-decoration: none;
}
#loginPage-div a:hover {
  text-decoration: underline;
}
#loginPage-div header {
  padding-top: 20px;
}
#loginPage-div header img {
  height: 20px;
  margin-bottom: 5px;
  margin-left: 3%;
  line-height: 75px;
}
#loginPage-div #login-section {
  border-bottom: 1px solid #737373;
}
#loginPage-div #login-section .loginWrapper-div {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  padding: 20px 5% 30px 5%;
}
#loginPage-div #login-section .loginWrapper-div form {
  flex-grow: 1;
}
#loginPage-div #login-section .loginWrapper-div form .inputWrapper {
  position: relative;
}
#loginPage-div #login-section .loginWrapper-div form .inputWrapper::after {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  font-size: 1rem;
  color: #8c8c8c;
  line-height: 1.5;
  top: 0.75rem;
  left: 1rem;
  right: 1rem;
  transition-duration: 250ms;
}
#loginPage-div #login-section .loginWrapper-div form .inputWrapper:nth-of-type(1)::after {
  content: "Email address (Disabled)";
}
#loginPage-div #login-section .loginWrapper-div form .inputWrapper:nth-of-type(2)::after {
  content: "Password (Disabled)";
}
#loginPage-div #login-section .loginWrapper-div form .inputWrapper:focus-within::after {
  top: 0.25rem;
  font-size: 0.75rem;
}
#loginPage-div #login-section .loginWrapper-div form .inputWrapper input {
  height: 50px;
  border: none;
  background-color: #333;
}
#loginPage-div #login-section .loginWrapper-div form #loginRememberMe-div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 12px;
  font-size: 13px;
  color: #b3b3b3;
}
#loginPage-div #login-section .loginWrapper-div form #loginRememberMe-div div {
  display: flex;
}
#loginPage-div #login-section .loginWrapper-div form #loginRememberMe-div div label {
  margin-left: 5px;
}
#loginPage-div #login-section .loginWrapper-div form #loginRememberMe-div div input {
  margin: 0;
  width: 16px;
  height: 16px;
}
#loginPage-div #login-section .loginWrapper-div form #loginRememberMe-div div input::before {
  background: #737373;
}
#loginPage-div #login-section .loginWrapper-div form #loginRememberMe-div p, #loginPage-div #login-section .loginWrapper-div form #loginRememberMe-div a {
  color: #b3b3b3;
}
#loginPage-div #login-section .loginWrapper-div p:nth-of-type(1) {
  font-size: 16px;
  color: #737373;
}
#loginPage-div #login-section .loginWrapper-div p:nth-of-type(1) a {
  color: white;
}
#loginPage-div #login-section .loginWrapper-div p:nth-of-type(2) {
  margin: 13px 0 83.25px 0;
  color: #737373;
  font-size: 13px;
}
#loginPage-div #login-section .loginWrapper-div p:nth-of-type(2) a, #loginPage-div #login-section .loginWrapper-div p:nth-of-type(2) a:hover, #loginPage-div #login-section .loginWrapper-div p:nth-of-type(2) a:visited {
  color: #0d6efd;
}
#loginPage-div #login-section p, #loginPage-div #login-section span, #loginPage-div #login-section h1 {
  text-align: left;
}
#loginPage-div #login-section h1 {
  text-align: left;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
}
#loginPage-div #login-section input {
  padding: 1rem 20px 0px 20px;
  margin-bottom: 1rem;
}
#loginPage-div #login-section button {
  width: 100%;
  font-size: 16px;
  padding: 13px;
  margin-top: 24px;
}
#loginPage-div footer {
  margin: auto auto 0 auto !important;
  padding: 30px calc(30px + 5%) 30px calc(30px + 5%);
}
#loginPage-div footer span, #loginPage-div footer a {
  color: #737373;
}
#loginPage-div footer a {
  font-size: 13px;
}
@media screen and (min-width: 441px) {
  #loginPage-div header {
    line-height: 75px;
    padding: 0;
  }
  #loginPage-div header img {
    margin-bottom: 0;
    height: 45px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 501px) {
  #loginPage-div ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 741px) {
  #loginPage-div {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/US-en-20231016-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
  }
  #loginPage-div header {
    line-height: 90px;
  }
  #loginPage-div #login-section {
    min-height: calc(100vh - 170px);
    border: none;
  }
  #loginPage-div #login-section .loginWrapper-div {
    background: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 40px 68px;
    max-width: 450px;
    margin: 0 auto 90px auto;
  }
  #loginPage-div #login-section .loginWrapper-div form {
    margin-bottom: 50px;
  }
  #loginPage-div #footerWrapper-div {
    background: rgba(0, 0, 0, 0.75);
  }
  #loginPage-div #footerWrapper-div footer {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
  }
  #loginPage-div #footerWrapper-div footer ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=main.css.map */